VITE_SUPABASE_URL=https://gdijkwefptqwqupebrow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkaWprd2VmcHRxd3F1cGVicm93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMTYwNjMsImV4cCI6MjA3ODc5MjA2M30.VJu6unXk6Jpb4J306-IWoLtzwDKxsr2OM3kCCJ8Wnas
